@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 800px) {
  .sidebar {
    width: 20%;
  }
}

@media (max-width: 799px) {
  .sidebar {
    width: auto;
  }
}

@media (min-height: 600px) {
  header {
    height: 5vh;
  }
}

@media (max-height: 599px) {
  header {
    height: auto;
  }
}
